.form-input {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        width: 25%;
        font-weight: 600;
    }

    input,textarea,select {
        width: 75%;
        background: #FAFAFA;
        color:#818A91;
        border: none;
        border-bottom: 1px solid $main-color;
        padding: 8px 0 8px 12px;
        margin-left: 31px;
        caret-color: $main-color;
    }

    select {
        padding-left: 8px;
    }

    input:focus, textarea:focus {
        border: 1px solid $main-color;
    }

    textarea {
        padding-right: 31px;
    }
}

.addTicket-form-btn {
    float:right;
    background-color: $main-color;
    color: #fff;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 48px;
    font-size: 20px;
    margin-top: 8px;
    &:hover {
        cursor: pointer;
        color: $main-color;
        background: #fff;
        border: 3px solid $main-color;
        transition: .3s;
    }
}