.searchList {
    &-selector {
        display: flex;
        margin-bottom: 60px;
        align-items: center;
        justify-content: flex-start;
        margin-left: 8%;
        select {
            color: #000;
            width: 255px;
            padding: 8px 0 8px 12px;
            font-size: 16px;
            margin-right: 30px;
        }
    }

    &-result {
        display: flex;
        flex-wrap: wrap;
        width: 1110px;
        justify-content: flex-start;
        align-items: center;
        &-card{
            width: 350px;
            height: 472px;
            background: #fff;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 4px;
            display: block;
            margin-bottom: 38px;
            margin-right: 30px;
            &:nth-child(3n) {
                margin-right: 0;
            }

            h3 {
                font-size: 24px;
                color: $main-color;
                font-weight: 600;
                padding-bottom: 4px;
                margin-bottom: 16px;
                border-bottom: 2px solid $main-color;
            }

        }

        &-wrap {
            position: relative;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 180px;
            }
            span {
                position: absolute;
                left: 0;
                color: #fff;
                z-index: 10;
                border-radius: 0px 5px 5px 0px;
                text-align: center;
            }

            &-loc {
                top: -15px;
                font-size: 20px;
                padding: 8px 20px;
                background: $second-color;
            }

            &-rates {
                bottom: -11px;
                padding: 5px 8px;
                background: $main-color;
            }
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-text {
                padding: 0 20px;
                p {
                    line-height: 24px;
                    height: 180px;
                }
            }

            &-info {
                color:$main-color;
                padding: 0 22px 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 600;

                &-price {
                    display: flex;
                    align-items: center;
                    span {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        font-size: 32px;
                        margin-left: 4px;
                    }
                }
            }
        }
    }

}